<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/FunInterface/src/FInterface/FunPracticeExample.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="FInterface.FunPracticeExample"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="FunInterface"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FunInterface"/>
</launchConfiguration>
